*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    scroll-snap-align: start;
}

.one{
    background-color: aqua;
}

.two{
    background-color: blueviolet;
}

.three{
    background-color: chocolate;
}

.four{
    background-color: darkkhaki;
}
